<h1>Meet Carmen, NFRiacowboy's nice asistense</h1>

<div>
    <div id="chatBox" scroll-glue>
        <div ng-repeat="message in conversation track by message.id">
            <div class="chatMessage">
                <div class="messageTextInMessage" ng-bind-html="message.msg"></div>
            </div>
        </div>
    </div>
    <div class="enterMessage">
    <form ng-submit="handleNewInput()">
        <textarea id="humanTextInput" rows="2" ng-model="humanText"></textarea>

        <input type="submit" value="Send" />
    </form></div>
</div>
